<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WordCloud Generator</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/shivang-img.jpg') }}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/modal-video/css/modal-video.min.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <style>
        .new {
            padding-top:5rem;
            padding-left:30rem;
            padding-right: 30rem;
        }
    </style>
</head>

<body>

    <header id="header" class="header header-hide">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="{{ url_for('index') }}" class="scrollto"><span>wc</span>Generator</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="menu-active"><a href="{{ url_for('blog') }}">Blog</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    
    <section id="hero" class="wow fadeIn">
        <div class="new">
            <h2><b>WordCloud Generator</b></h2>
            <p>Hey. This is a WordCloud Generator built using Python libraries such as Flask and Wordcloud.
                The deployment of this Flask is completely done using Herokuapp. Heroku is a cloud platform that allows programmers to create free account and deploy their machine learning or data science models on web application.<br>
                Entire working of the project is available on my Github profile. Visit the profile using the contacts provided. Connect with me for collaboration or any doubts.
            </p>
            <h2><b>Future Work</b></h2>
            <p>
                For now the working of the project is restricted as multiple functions and wordcloud parameters are still unknown to me. Perhaps in the coming weeks I could upload my updatesI think a bit more performance can be improved out of certain wordcloud parameters e.g. using contour and other parameters, which allows user to be more accurate about their wordclouds.
            </p>
        </div>
    </section><!-- #hero -->
    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/modal-video/js/modal-video.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>

</body>
</html>