<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WordCloud Generator</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/shivang-img.jpg') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/modal-video/css/modal-video.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>

    <header id="header" class="header header-hide">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <h1><a href="{{ url_for('index') }}" class="scrollto"><span>wc</span>Generator</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('blog') }}">Blog</a></li>
              <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header>


    <section id="hero" class="wow fadeIn">
        <div class="new-container">
          <h2>Enter any string to generate related words</h2>  
          <form action="#" method="POST">
              <input type="text" id="words" name="words" size="30" required="required"><br><br>
              <h2>Enter maximum count of words</h2>
              <input type="number" id="count" name="count" min="50" max="200" required="required"><br><br>
              <h2>Enter height of image(suggested:800)</h2>
              <input type="number" id="height" name="height" min="300" max="1000" required="required"><br><br>
              <h2>Enter width of image(suggested:800)</h2>
              <input type="number" id="width" name="width" min="300" max="1000" required="required"><br><br>
              <button type="submit" class="btn-get-started scrollto">Generate WordCloud</button>
          </form>
        </div>
    </section><!-- #hero -->


<!-- JavaScript Libraries -->
<script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js') }}"></script>
<script src="{{ url_for('static', filename='lib/superfish/superfish.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/modal-video/js/modal-video.js') }}"></script>
<script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>

</body>
</html>
